/* Start Varibals */
:root {
  --main-color: #10CAB7;
  --secondary-color: #2C4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
}
/* End Varibals */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
}
/* Small Screen */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Midium Screen */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large Screen */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Component */
.special-heading {
  color: #ebeced;
  font-size: 100px;
  font-weight: 800;
  text-align: center;
  margin: 0 auto;
  letter-spacing: -3px;
}
.special-heading + p {
  text-align: center;
  font-size: 20px;
  margin: -30px 0 0 0;
  color: #797979;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin: -30px 0 0 0;
  }
}
/* End Component */
/* Start Header */
.header {
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  border-bottom: 5px solid #f6f6f6;
}
.header .container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 60px;
}
.header .links {
  position: relative;
}
.header .links:hover .icon span:nth-child(2) {
  width: 100%;
}
.header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.header .links .icon span {
  background-color: #333;
  margin-bottom: 5px;
  height: 2px;
}
.header .links .icon span:first-child {
  width: 100%;
}
.header .links .icon span:nth-child(2) {
  width: 60%;
  transition: width 0.3s;
}
.header .links .icon span:last-child {
  width: 100%;
}
.header .links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  position: absolute;
  right: 0;
  min-width: 200px;
  top: calc(100% + 15px);
  display: none;
  border-radius: 5px;
  z-index: 1;
  border: 5px solid white;
}
.header .links ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}
.header .links:hover ul {
  display: block;
}
.header .links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
  transition: padding-left 0.3s;
}
.header .links ul li a:hover {
  padding-left: 25px;
}
.header .links ul li:not(:last-child) {
  border-bottom: 2px solid #ddd;
}
/* End Header */
/* Start Landing Section */
.landing {
  background-image: url(https://user-images.githubusercontent.com/87373032/128119589-98760852-69a2-4338-a30f-b79bb4b163fe.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
}
.landing .intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 320px;
  max-width: 100%;
  transform: translate(-50%, -50%);
}
.landing .intro-text h2 {
  margin: 0;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  color: var(--main-color);
}
.landing .intro-text p {
  line-height: 1.8;
  text-align: center;
}
/* End Landing Section */
/* Start Future */
.futures {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.futures .container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.futures .feat {
  padding: 20px;
  text-align: center;
}
.futures .feat i {
  color: var(--main-color);
}
.futures .feat h3 {
  font-weight: 800;
  margin: 30px 0;
}
.futures .feat p {
  line-height: 1.6;
  font-size: 17px;
  color: #777;
}
/* End Future */
/* Start Services */
.services .container {
  margin: 0 auto;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(304px, 1fr));
  gap: 30px;
  margin-top: 100px;
}
.services .services-content .srv {
  display: flex;
  margin-bottom: 40px;
  padding: 20px;
  line-height: 1.8;
}
@media (max-width: 767px) {
  .services .services-content .srv {
    flex-direction: column;
    text-align: center;
  }
}
.services .services-content .srv i {
  color: var(--main-color);
  flex-basis: 60px;
}
.services .services-content .srv .text {
  flex: 1;
}
.services .services-content .srv h3 {
  margin: 0 0 0 20px;
}
.services .services-content .srv p {
  color: #777;
  font-weight: 300;
  line-height: 1.6;
}
.services .services-content .image {
  position: relative;
  text-align: center;
}
.services .services-content .image::before {
  content: "";
  position: absolute;
  height: calc(100% + 0px);
  width: 100px;
  top: -30px;
  right: -5px;
  background-color: var(--secondary-color);
  z-index: -1;
}
.services .services-content .image img {
  width: 355px;
  height: 437px;
  padding: 20px;
  background-color: #F6F6F6;
  border-radius: 30px;
  position: absolute;
  left: -11px;
  top: 19px;
}
@media (max-width: 1199px) {
  .image-column {
    display: none;
  }
}
/* End Services */
/* Start Portfolio */
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.portfolio .container {
  margin: 0 auto;
}
.portfolio .portfolio-content {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, auto));
  gap: 20px;
}
.portfolio .portfolio-content .card {
  background-color: white;
}
.portfolio .portfolio-content .card img {
  max-width: 100%;
  min-height: 278px;
}
.portfolio .portfolio-content .card .info {
  padding: 20px;
}
.portfolio .portfolio-content .card .info h3 {
  margin: 0;
}
.portfolio .portfolio-content .card .info p {
  color: #4D4C4C;
  margin-bottom: 0;
  line-height: 1.6;
}
/* End Portfolio */
/* Start About */
.about {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.about .container {
  margin: 0 auto;
}
.about .about-content {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .about .about-content {
    flex-direction: column;
    text-align: center;
  }
}
.about .about-content .image {
  position: relative;
  width: 215px;
  height: 280px;
}
@media (max-width: 991px) {
  .about .about-content .image {
    margin: 0 auto 60px;
  }
}
.about .about-content .image::before {
  content: "";
  position: absolute;
  width: 100px;
  height: calc(100% + 80px);
  background-color: #ebeced;
  top: -35px;
  left: -15px;
  z-index: -1;
}
.about .about-content .image::after {
  content: "";
  position: absolute;
  width: 130px;
  height: calc(100% - 80px);
  top: -35px;
  right: -165px;
  border-left: 70px solid var(--main-color);
  border-bottom: 70px solid var(--main-color);
  z-index: -1;
}
@media (max-width: 991px) {
  .about .about-content .image::before,
  .about .about-content .image::after {
    display: none;
  }
}
.about .about-content .image img {
  max-width: 100%;
}
.about .about-content .text {
  flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-of-type {
  font-weight: bold;
  line-height: 2;
  margin-bottom: 50px;
}
.about .about-content .text hr {
  display: inline-block;
  width: 50%;
  border-color: var(--main-color);
}
.about .about-content .text p:last-of-type {
  line-height: 2;
  color: #777;
}
/* End About */
/* Start Contact */
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.contact .container {
  margin: 0 auto;
}
.contact .info {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
}
.contact .info .label {
  font-size: 35px;
  font-weight: 800;
  color: var(--secondary-color);
  letter-spacing: -2px;
  margin-bottom: 15px;
}
.contact .info .link {
  display: block;
  font-size: 35px;
  font-weight: 800;
  color: var(--main-color);
  text-decoration: none;
}
.contact .info .social {
  display: block;
  justify-content: center;
  margin-top: 20px;
  font-size: 16px;
}
.contact .info .social i {
  margin-left: 10px;
  color: var(--secondary-color);
}
@media (max-width: 767px){
  .contact .info .label,
  .contact .info .link {
    font-size: 25px;
  }
}
/* End Contact */
/* Start Footer */
.footer {
  background-color: var(--secondary-color);
  color: white;
  padding: 30px 10px;
  text-align: center;
  font-size: 18px;
}
.footer span {
  color: var(--main-color);
}
/* End Footer */